{% extends 'base.html' %}

{% block content %}

<br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">

        <h4>Add a book to the library</h4><br/>

        <form action="#" method="post" enctype=multipart/form-data>
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Enter book title" name="title" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="author" class="form-label">Author:</label>
                <input type="text" class="form-control" id="author" placeholder="Enter author name" name="author" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" class="form-control" placeholder="Description" name="description" required></textarea>
            </div>
            <div class="mb-3 mt-3">
                <label for="cover" class="form-label">Cover:</label>
                <input id="cover" class="form-control" type=file placeholder="Cover" name="cover">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}

