{% extends 'base.html' %}

{% block content %}

<br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">

        <h4>Add a book to the library</h4><br/>

        <form action="{{ url_for('add_book') }}" enctype="multipart/form-data" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3 mt-3">
                {{ form.title.label }}:<br/>
                {{ form.title(class_="form-control") }}
            </div>
            <div class="mb-3 mt-3">
                {{ form.author.label }}:<br/>
                {{ form.author(class_="form-control") }}
            </div>
            <div class="mb-3 mt-3">
                {{ form.description.label }}:<br/>
                {{ form.description(class_="form-control") }}
            </div>
            <div class="mb-3 mt-3">
                {{ form.cover_picture.label }}:<br/>
                {{ form.cover_picture(class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>

    </div>
</div>
{% endblock %}

