{% extends 'base.html' %}

{% block content %}

<br/>

<div class="row">

    <div class="col-1"></div>
    <div class="col-4">
        <h4>Search in the library</h4><br/>

        <form action="{{ url_for('find_book') }}" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3 mt-3">
                {{ form.title.label }}:<br/>
                {{ form.title(class_="form-control") }}
            </div>
            <div class="mb-3 mt-3">
                {{ form.author.label }}:<br/>
                {{ form.author(class_="form-control") }}
            </div>
            <div class="mb-3 mt-3">
                {{ form.sort_by.label }}:<br/>
                {% for subfield in form.sort_by %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                    &nbsp;&nbsp;&nbsp;
                </tr>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>

    <div class="col-1"></div>

    <div class="col col-5">
        <div class="row overflow-auto align-top" style="height: 90vh">
            <span class="align-top">

            {% for book in books %}
            <div class="card" style="height: 170px">
                <div class="card-header">{{book['title']}} &nbsp;&nbsp;&nbsp; by &nbsp;&nbsp;&nbsp;
                    {{book['author']}}
                </div>
                <div class="card-body">{{book['description']}}</div>
                <div class="card-footer">
                    <a href="#">open</a>
                    <a href="#">edit</a>
                    <a href="/delete_book/{{book['book_id']}}">delete</a>
                </div>
            </div>
            {% endfor %}

            </span>
        </div>
    </div>

</div>
{% endblock %}

