{% extends 'base.html' %}

{% block content %}

<br/>

<div class="row">

    <div class="col-1"></div>
    <div class="col-4">
        <h4>Search in the library</h4><br/>
        <form action="#" method="post">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Enter book title" name="title"
                       value="{{title}}">
            </div>
            <div class="mb-3 mt-3">
                <label for="author" class="form-label">Author:</label>
                <input type="text" class="form-control" id="author" placeholder="Enter author name" name="author"
                       value="{{author}}">
            </div>

            <label class="form-label">Sort by: </label><br>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="title_radio" name="sort_by" value="title" {{"checked" if sort_by != "author" }}>title</input>
                <label class="form-check-label" for="title_radio"></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="author_radio" name="sort_by" value="author" {{"checked" if sort_by == "author" }}>author</input>
                <label class="form-check-label" for="author_radio"></label>
            </div>

            <div class="mb-3">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="col-1"></div>
    <div class="col-5">
        {% for book in books %}
        <div class="card">
            <div class="card-header">{{book['title']}} &nbsp;&nbsp;&nbsp; by &nbsp;&nbsp;&nbsp; {{book['author']}}</div>
            <div class="card-body">{{book['description']}}</div>
            <div class="card-footer">
                <a href="#">open</a>
                <a href="#">edit</a>
                <a href="/delete_book/{{book['book_id']}}">delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

