{% extends 'base.html' %}

{% block content %}

    <br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">

    <h4>Login to your account</h4> <br/>

    <form action="#" method="post">
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

        <a class="nav-link" href="/register">register new account</a>
    </div>
    </div>
{% endblock %}

