{% extends 'base.html' %}

{% block content %}

    <br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">

    <h4>Login to your account</h4> <br/>

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div class="mb-3 mt-3">
            {{ form.username.label }}:<br/>
            {{ form.username(class_="form-control") }}
        </div>
        <div class="mb-3 mt-3">
            {{ form.password.label }}:<br/>
            {{ form.password(class_="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>

        <a class="nav-link" href="/register">register new account</a>
    </div>
    </div>
{% endblock %}

